dialog {
    border-radius: 10px;
    font-size: 28px;
    font-weight: bold;
    width: 500px;
    border: none;
    padding: 0;
   }

dialog hr {
  margin: 0;
  padding: 0;
  height: 20px;
  background: rgb(174,25,74);
}

dialog p {
  font-family: 'Cormorant Garamond', serif !important;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 15px;
  padding: 20px 15px 0 15px;
}

#wishlist_clear {
  float: right;
}

#clear_and_close_dialog {
  margin-left: 20%;
  margin-bottom: 15px;
}

#close_dialog {
  float: right;
  margin-right: 20%;
  margin-bottom: 15px;
}