.alt-pages {
  font-size: 16px;
  letter-spacing: normal;
}
@media screen and (max-width: 768px) {
  .alt-pages {
    font-size: 14px;
  }
}

.alt-pages .p--first {
  margin-top: 0;
}

.alt-pages .div--first p {
  margin-top: 0;
}

.alt-pages UL.ul--base {
  margin-left: 20px;
}
.alt-pages UL.ul--base LI {
  list-style: initial;
  margin-top: 8px;
  margin-bottom: 8px;
}

.alt-pages a {
  color: #333333;
  text-decoration: underline !important;
}
.alt-pages a:hover {
  color: var(--color-base-accent-1) !important;
  text-decoration: none !important;
}
.alt-pages a[href^="tel:"] {
  color: #000000 !important;
  text-decoration: none !important;
}
.alt-pages a[href="tel:"]:hover {
  color: #333333;
  text-decoration: underline !important;
}

.alt-pages .alt-text16 {
  font-size: 16px;
  line-height: 24px;
}
@media screen and (max-width: 768px) {
  .alt-pages .alt-text16 {
    font-size: 14px;
    line-height: 22px;
  }
}

.alt-pages .alt-text18 {
  font-size: 18px;
  line-height: 26px;
}
@media screen and (max-width: 768px) {
  .alt-pages .alt-text18 {
    font-size: 16px;
    line-height: 24px;
  }
}

.alt-pages .alt-text-width66 {
  max-width: 66%;
}
@media screen and (max-width: 768px) {
  .alt-pages .alt-text-width66 {
    max-width: 100%;
  }
}

.alt-pages .alt-note {
  color: var(--color-base-accent-2);
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
  line-height: 1.2;
}
.alt-pages .alt-note a {
  color: #000000;
  text-decoration: none !important;
}
.alt-pages .alt-note a:hover {
  color: var(--color-base-accent-1);
}

.alt-pages .h-color-accent-1 {
  color: #ae194a !important;
}

.alt-pages .h3-gr {
  font-family: var(--font-body-family);
  font-size: 27px;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 16px;
}
.alt-pages .h3-gr img {
  display: block;
  margin-top: 3px;
}
@media screen and (max-width: 768px) {
  .alt-pages .h3-gr {
    font-size: 20px;
  }
  .alt-pages .h3-gr img {
    height: auto;
    max-width: 320px;
  }
}

.alt-pages .h3-gr.h-wgicon {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}
.alt-pages .h3-gr.h-wgicon img {
  width: 100px;
  height: 100px;
}
@media screen and (max-width: 768px) {
  .alt-pages .h3-gr.h-wgicon img {
    width: 60px;
    height: 60px;
  }
}

.alt-pages .h4-gr {
  font-family: var(--font-body-family);
  font-size: 18px;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 16px;
}
@media screen and (max-width: 768px) {
  .alt-pages .h4-gr {
    font-size: 16px;
  }
}

.alt-pages .hdr-img {
  margin: 60px auto 20px auto;
}
.alt-pages .hdr-img img {
  object-fit: cover;
  width: 100%;
  height: auto;
  min-height: 200px;
}
@media screen and (max-width: 768px) {
  .alt-pages .hdr-img {
    margin-top: 20px;
  }
}


.alt-pages .block-wineregion {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .alt-pages .block-wineregion {
    flex-direction: column;
    align-items: flex-start;
  }
}

.alt-pages .block-wineregion__pic {
  flex: 1 0 auto;
  width: 320px;
  aspect-ratio: 1/1;
  margin-right: 40px;
}
.alt-pages .block-wineregion__pic img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 768px) {
  .alt-pages .block-wineregion__pic {
    width: 250px;
    margin: 0 0 -10px 0;
  }
}

.alt-pages .block-wineregion__text {

}

.alt-pages .block-wineregion--reverse .block-wineregion__pic {
  order: 2;
  margin-right: 0;
  margin-left: 40px;
}
@media screen and (max-width: 768px) {
  .alt-pages .block-wineregion--reverse .block-wineregion__pic {
    order: 1;
    margin: 0 0 -10px 0;
  }
}

.alt-pages .block-wineregion--reverse .block-wineregion__text {
  order: 1;
  margin-left: 360px;
}
@media screen and (max-width: 990px) {
  .alt-pages .block-wineregion--reverse .block-wineregion__text {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .alt-pages .block-wineregion--reverse .block-wineregion__text {
    order: 2;
  }
}

.alt-pages .two-column {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 80px;
}
.alt-pages .two-column > div {
  flex-basis: 50%;
}
@media screen and (max-width: 768px) {
  .alt-pages .two-column {
    flex-direction: column;
    gap: 0;
  }
}

.alt-pages .four-column {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .alt-pages .four-column {
    flex-direction: column;
    gap: 0;
  }
}

.alt-pages .four-column > div {
  max-width: 100%;
  flex: 0 0 calc(25% - 20px);
}
@media screen and (max-width: 990px) {
  .alt-pages .four-column > div {
    flex: 0 0 calc(50% - 20px);
  }
}
@media screen and (max-width: 768px) {
  .alt-pages .four-column > div {
    flex: 0 0 100%;
  }
}


.alt-pages .block-whygvinico {
  margin-bottom: 10px;
}
.alt-pages .block-whygvinico img {
  width: 100%;
  height: auto;
  max-width: 340px;
  margin-bottom: -10px;
}


.alt-pages .block-article {
  display: flex;
  gap: 60px;
  margin-bottom: 20px
}
@media screen and (max-width: 768px) {
  .alt-pages .block-article {
    flex-direction: column;
    gap: 0;
  }
}


.alt-pages .block-article__text {

}
@media screen and (max-width: 768px) {
  .alt-pages .block-article__text {
    order: 2;
  }
}

.alt-pages .block-article__pic {
  margin-top: 27px;
  min-width: 40%;
}
@media screen and (max-width: 768px) {
  .alt-pages .block-article__pic {
    order: 1;
    max-width: 560px;
  }
}

.alt-pages .block-article__pic img {
  width: 100%;
  height: auto;
  max-width: 600px;
}

.alt-pages .block-article__innerpic {
  margin: 30px auto;
  text-align: center;
}

@media screen and (max-width: 475px) {

  .alt-pages .block-article__innerpic {
    margin: 15px auto;
  }

}

.innerpic--1068 {
  max-width: 1068px;
  margin-left: auto;
  margin-right: auto;
}

.alt-pages .block-article__innerpic img {
  width: 100%;
  height: auto;
  margin: 0;
}

.alt-pages .block-article__50 {
  flex: 0 1 50%;
}

details[open] summary ~ * {
  animation: all .5s ease-in-out;
}

.alt-pages .alt-details {
  margin-top: 20px;
  margin-bottom: 40px;
  padding-left: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.alt-pages .alt-details summary {
  font-family: var(--font-body-family);
  font-size: 20px;
  line-height: 1.1;
  font-weight: bold;
  padding-bottom: 12px;
}
.alt-pages .alt-details summary:before {
  content: "\25B7";
  color: var(--color-base-accent-1);
  display: inline-block;
  width: 20px;
  position: relative;
  top: -4px;
  margin-left: -20px;
  font-size: 10px;
}
.alt-pages .alt-details[open] summary:before {
  content: "\25BD";
}

.alt-pages .alt-details p {
  margin-top: 0;
}

@media screen and (max-width: 768px) {

  .alt-pages .alt-details summary {
    font-size: 18px;
  }

  .alt-pages .alt-details summary:before {
    top: -3px;
  }

}

.alt-pages .alt-detailsmore {
  margin: 20px 0;
}


.alt-pages .alt-detailsmore summary {
  color: var(--color-base-accent-1);
  font-family: var(--font-body-family);
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 2px;
}

.alt-pages .alt-detailsmore summary:before {
  content: "\25BC";
  color: var(--color-base-accent-1);
  display: inline-block;
  position: relative;
  margin-right: 10px;
  transition: .25s transform;
}
.alt-pages .alt-detailsmore[open] summary:before {
  transform: rotate(180deg);
}

.alt-pages .alt-detailsmore summary:after {
  content: 'Learn more';
  border-bottom: dotted 1px var(--color-base-accent-1);
  padding-bottom: 2px;
}
.alt-pages .alt-detailsmore[open] summary:after {
  content: "Сollapse content";
  border-bottom: dotted 1px var(--color-base-accent-1);
  padding-bottom: 2px;
}


.alt-pages td {
  font-size: 16px;
}

@media screen and (max-width: 768px) {

  .alt-pages td {
    padding: 5px !important;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}


.alt-html-sitemap {
  margin-bottom: 40px;
}

.alt-html-sitemap h3 {
  display: block;
}

.alt-html-sitemap > ul {
  margin: 0;
  columns: 3;
  -webkit-columns: 3;
}

@media screen and (max-width: 560px) {
  .alt-html-sitemap > ul {
    columns: 2;
    -webkit-columns: 2;
  }
}

.alt-html-sitemap > ul > li {
  margin-top: 0;
  margin-bottom: 16px;
  max-width: 250px;
  white-space: nowrap;
  text-overflow: ellipsis;
  list-style-image: url("https://cdn.shopify.com/s/files/1/0654/1056/4327/t/17/assets/i-wpage.svg");
  list-style-position: inside;
}


.alt-block-minibtn {
  display: flex;
  gap: 20px;
}
.alt-block-minibtn > a {
  flex: 0 1 auto;
  text-decoration-color: transparent !important;
  display: block;
  font-weight: 400;
  color: #ffffff !important;
  background-color: var(--color-base-accent-1);
  padding: 7px 15px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 749px) {

  .alt-block-minibtn {
    justify-content: center;
  }

}


@media screen and (max-width: 475px) {

  .alt-block-minibtn {
    display: block;
  }

  .alt-block-minibtn > a {
    margin-top: 20px;
  }

}

.alt-block-minibtn > a:hover {
  background-color: var(--color-base-button-background-hover);
  color: #000000 !important;
}


.alt-pages .blockpicks {
  display: block;
  margin: 20px 0 40px 0 !important;
  text-decoration: none !important;
}

.alt-pages .blockpics__plate {
  display: flex;
  flex-wrap: wrap;
}

.alt-pages .blockpics__plate img {
  flex: 0 0 auto;
  margin-bottom: 12px;
}

.alt-pages .blockpics.blockpics--shemachunk img {
  height: 144px;
  width: auto;
}

.blockpics__description {
  color: var(--color-base-accent-2);
  font-size: 14px;
//margin-top: 5px;
  text-align: left;
  line-height: 1.2;
}
.blockpics__description a {
  color: #000000;
  text-decoration: none !important;
}
.blockpics__description a:hover {
  color: var(--color-base-accent-1);
}

.blockpics__description .hdr {
  font-weight: 600;
}

.alt-pages .blockpicks:hover .hdr {
  color: var(--color-base-accent-1);
}

.c-red {
  color: var(--color-base-accent-1) !important;
}


.text-qa {
  margin: 30px auto;
}

@media screen and (max-width: 475px) {

  .text-qa {
    margin: 20px auto;
  }

}

.text-qa .txt-q {
  font-weight: 600;
}

.text-qa .txt-q + .txt-a-name {
  margin-top: 12px;
}

.text-qa .txt-a-name {
  font-style: italic;
  color: #333333;
  margin-top: -4px;
  margin-bottom: -8px;
}

.text-qa .txt-a {
  margin-left: 30px;
}

.text-qa .txt-a p {
  margin-top: 10px;
}

.text-qa .txt-a:before {
  float: left;
  content: "―";
  margin-left: -30px;
  font-weight: 400;
}

.pics-qa {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 30px auto;
}

@media screen and (max-width: 990px) {

  .pics-qa {
    gap: 15px;
  }

}

@media screen and (max-width: 475px) {

  .pics-qa {
    flex-direction: column;
    align-items: center;
    margin: 15px auto;
  }

}

.pics-qa figure {
  flex: 1 1 auto;
  width: 28%;
  margin: 0;
}

.pics-qa img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 475px) {

  .pics-qa figure {
    width: 100%;
    max-width: 320px;
  }

}

.alt-pages figure {
  margin: 0 0 20px 0;
}

.alt-pages figcaption {
  text-align: center;
  font-size: 14px;
  color: #777;
}

@media screen and (max-width: 749px) {

  .alt-pages figcaption {
    font-size: 12px;
  }

}

.text--centered {
  margin: 40px auto;
}

@media screen and (max-width: 475px) {

  .text--centered {
    margin: 20px auto;
  }

}

.ul--dpan > li {
  margin-bottom: 14px;
}


.alt-pages .hdr-fourimg {
  margin: 40px auto 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
}

@media screen and (max-width: 475px) {

  .alt-pages .hdr-fourimg {
    margin: 30px auto;
  }

}

.alt-pages .hdr-fourimg img {
  object-fit: cover;
  width: 24%;
  height: auto;
}
@media screen and (max-width: 768px) {

  .alt-pages .hdr-fourimg img {
    width: 33%;
  }

}

@media screen and (max-width: 475px) {

  .alt-pages .hdr-fourimg img {
    width: 49%;
  }

}

.logo-qa {
  margin: 30px auto 0 auto;
  display: block;
}

@media screen and (max-width: 475px) {

  .logo-qa {
    margin: -20px auto;
    scale: 60%;
  }

}

.h--centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.alt-gallery {
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  gap: 10px;
}

.alt-gallery a {
  display: block;
}

.alt-gallery a img {
  height: 120px;
}


.alt-product-notesign {
  font-size: 18px;
  font-style: normal !important;
  position: relative;
  top: -2px;
  color: var(--color-base-accent-1);
}

.alt-product-note {
  margin: -5px 0 15px 3px;
  font-size: 14px;
  color: #777777;
}

.block-inlinepics {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 600px) {

  .block-inlinepics {
    flex-direction: column;
    gap: 0;
  }

}

.alt-table-simple {
  border-collapse: collapse;
  border-top: solid 1px #fff;
}

.alt-table-simple td  {
  padding: 10px;
  border-bottom: solid 1px #fff;
}

.has-pagetitle-numbers {
  font-size: 50px;
}


.alt-link {
  display: block;
  font-size: 21px;
  font-weight: 600;
  color: var(--color-base-accent-1);
  margin-top: 30px;
  text-overflow: ellipsis;
}
.alt-link:hover {
  color: #000000;
}

.alt-link--outher,
.alt-link--inner {
  display: inline-block !important;
}
.alt-link--outher:after {
  content: "";
  margin-left: 8px;
  display: inline-block;
  width: 25px;
  height: 19px;
  background: url("i-outerlink.svg") right center no-repeat;
  vertical-align: middle;
}
.alt-link--inner:after {
  content: "";
  margin-left: 8px;
  display: inline-block;
  width: 16px;
  height: 8px;
  background: url("i-innerlink.svg") right center no-repeat;
  vertical-align: middle;
}



.block-article-main {
  display: block;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}
.block-article-main:after {
  content: "";
  clear: both;
  display: table;
}

.article-main__figure {
  display: inline-block;
  width: 100%;
  max-width: 500px;
  text-align: center;
}

@media screen and (max-width: 990px) {
  .article-main__figure {
    width: 50%;
  }
}

@media screen and (max-width: 475px) {
  .article-main__figure {
    display: block;
    width: 100%;
    max-width: 400px;
  }
}

.article-main__figure img {
  width: 100%;
  height: auto;
}

.article-main__figure.img--left {
  float: left;
  margin: 5px 60px 15px 0;
}
.article-main__figure.img--right {
  float: right;
  margin: 5px 0 15px 60px;
}

@media screen and (max-width: 990px) {
  .article-main__figure.img--left {
    margin: 5px 30px 15px 0;
  }
  .article-main__figure.img--right {
    margin: 5px 0 15px 30px;
  }
}

@media screen and (max-width: 475px) {
  .article-main__figure.img--left,
  .article-main__figure.img--right{
    float: none;
    margin: 5px auto;
  }
}

.img--rounded {
  border-radius: 10px
}



.block-article-minicard > a {
  display: flex;
  align-items: stretch;
  margin: 40px auto 60px auto;
  max-width: 66%;
  border: solid 1px #ccc;
  border-radius: 4px;
  text-decoration: none !important;
}

.block-article-minicard > a .minicard__img  {
  flex: 0 0 27%;
  min-width: 150px;
  object-fit: contain;
  overflow: hidden;
  border-radius: 3px 0 0 3px;
}

.block-article-minicard > a .minicard__img img {
  width: 100%;
  height: 100%;
  object-fit: cЬштшсякв over;
  display: block;
  border-radius: 3px 0 0 3px;
  transition: .5s all;
}

.block-article-minicard > a:hover .minicard__img img  {
  scale: 1.05;
}

.block-article-minicard > a .minicard__content {
  flex: 1;
  padding: 0 20px;
}

.block-article-minicard > a:hover .minicard__content {
  background-color: #f5f5f5;
  transition: .5s all;
}


.block-article-minicard > a .minicard__content h2 {
  text-transform: uppercase;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 0;
}

.block-article-minicard > a:hover .minicard__content h2 {
  color: var(--color-base-accent-1);
  transition: .5s all;
}

.block-article-minicard > a .minicard__content p {
  font-size: 14px;
  color: #333;
}

@media screen and (max-width: 990px) {

  .block-article-minicard > a {
    max-width: none;
  }

}

@media screen and (max-width: 475px) {

  .block-article-minicard > a {
    display: block;
  }

  .block-article-minicard > a .minicard__img  {
    width: 100%;
  }

  .block-article-minicard > a .minicard__content {
    width: 100%;
    padding: 0 10px;
  }

}



























