{{ 'grapes-list.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">

      <div class="rte alt-pages">
        <div class="alt-text18 div--first">
          {{ page.content }}
        </div>
      </div>
      
      {% assign totalCols = 3 %}
      {% assign grape_collections = "" | split: "," %}
      {% for collection in collections %}
      	{% if collection.metafields.custom.type == 'Grape Red' or collection.metafields.custom.type == 'Grape White' %}
          {% assign handle = collection.handle | split: ',' %}
          {% assign grape_collections = grape_collections | concat : handle %}
      	{% endif %}
      {% endfor %}
      {% assign totalItems =  grape_collections | size -%}
      {% assign remainingCols = totalCols %}
      {% assign remainingItems = totalItems %}
      {% assign itemsToOutput = remainingItems | times: 1.0 | divided_by: remainingCols | ceil %}

      {% comment %} --- старый вариант вывода колонок, не учитывающий мобильный вид
      <div class="grid-list">
        {% for i in (1..totalCols) %}
          <div class="grapes-list">
            <ul>
              {% for j in (1..itemsToOutput) %}
              	{% assign ind = totalItems | minus: remainingItems %}
              	{% include 'grapes-list__item', collection : collections[grape_collections[ind]] %}
              	{% assign remainingItems = remainingItems | minus: 1 %}
              {% endfor %}
            </ul>
          </div>
        {% if remainingItems == 0 %}
	        {% break %}
        {% endif %}
        {% assign remainingCols = remainingCols | minus: 1 %}
        {% assign itemsToOutput = remainingItems | times: 1.0 | divided_by: remainingCols | ceil %}
        {% endfor %}
      </div>
      {% endcomment %}



      <div class="grid-list">
        <ul class="grapes-list">
          {% for j in (1..totalItems) %}
            {% assign ind = totalItems | minus: remainingItems %}
            {% include 'grapes-list__item', collection : collections[grape_collections[ind]] %}
            {% assign remainingItems = remainingItems | minus: 1 %}
          {% endfor %}
        </ul>

        {% if remainingItems == 0 %}
	        {% break %}
        {% endif %}
        {% assign remainingCols = remainingCols | minus: 1 %}
        {% assign itemsToOutput = remainingItems | times: 1.0 | divided_by: remainingCols | ceil %}
      </div>



      
    </div>
  </div>
</div>







