.cms_info-section {
	margin-top: 100px;
}
.cms_info .cms_information {
	display: flex;
}
.cms_info .info-wrapper {
	padding: 41px 0;
}
.cms_info .info_service {
	width: 33.33%;
	text-align: center;
	position: relative;
}
.cms_info .info-description .info-title {
	font-size: 16px;
	letter-spacing: .3px;
	line-height: 34px;
    font-weight: 500;   
}
.cms_info .info-description .info-subtitle {
	line-height: 20px;
}
.template-index .cms_info-section {
	margin-top: 60px;
}
.info_service::before {
	content: "";
    display: block;
    height: 45px;
    position: absolute;
    right: 5px;
    width: 3px;
    border-right: 1px solid #cfa618;
    box-shadow: 1px 0 #ffd441;
}
.info_service:last-child::before {
 	display:none; 
}

@media screen and (max-width: 989px) {
     .cms_info .cms_information {
		display: block;
	}
    .info_service::before{
    	display:none;
    }
   .info-block.info-block-2 {
		padding: 20px 0;
	}
   
}