{{ 'vendor-list.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">

      <div class="rte alt-pages">
        <div class="alt-text18 alt-text-width66 div--first">
          {{ page.content }}
        </div>
      </div>
      
      {% assign totalCols = 3 %}
      {% assign totalItems = shop.vendors | size %}
      {% assign remainingCols = totalCols %}
      {% assign remainingItems = totalItems %}
      {% assign itemsToOutput = remainingItems | times: 1.0 | divided_by: remainingCols | ceil %}
      
      <div class="grid-list">
        {% for i in (1..totalCols) %}
          <div class="vendor-list">
            <ul>
              {% for j in (1..itemsToOutput) %}
              	{% assign ind = totalItems | minus: remainingItems %}
              	{% include 'vendor-list__item', vendor: shop.vendors[ind] %}
              	{% assign remainingItems = remainingItems | minus: 1 %}
              {% endfor %}
            </ul>
          </div>
        {% if remainingItems == 0 %}
	        {% break %}
        {% endif %}
        {% assign remainingCols = remainingCols | minus: 1 %}
        {% assign itemsToOutput = remainingItems | times: 1.0 | divided_by: remainingCols | ceil %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>